{% extends 'base.admin.html.twig' %}

{% block title %}Men index{% endblock %}

{% block body %}
    <h1>Men index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleShop</th>
                <th>SubtitleShop</th>
                <th>Image</th>
                <th>TitleEx</th>
                <th>TextEx</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for man in men %}
            <tr>
                <td>{{ man.id }}</td>
                <td>{{ man.TitleShop }}</td>
                <td>{{ man.SubtitleShop }}</td>
                <td>{{ man.image }}</td>
                <td>{{ man.titleEx }}</td>
                <td>{{ man.TextEx }}</td>
                <td>
                    <a href="{{ path('men_show', {'id': man.id}) }}">show</a>
                    <a href="{{ path('men_edit', {'id': man.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if men == false %}
        <a href="{{ path('men_new') }}">Create new</a>
    {% endif %}

{% endblock %}
