{% extends 'base.admin.html.twig' %}

{% block title %}MainFeatures index{% endblock %}

{% block body %}
    <h1>MainFeatures index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleFeature</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for main_feature in main_features %}
            <tr>
                <td>{{ main_feature.id }}</td>
                <td>{{ main_feature.TitleFeature }}</td>
                <td>{{ main_feature.image }}</td>
                <td>
                    <a href="{{ path('main_features_show', {'id': main_feature.id}) }}">show</a>
                    <a href="{{ path('main_features_edit', {'id': main_feature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('main_features_new') }}">Create new</a>
{% endblock %}
