{% extends 'base.admin.html.twig' %}

{% block title %}Forme index{% endblock %}

{% block body %}
    <h1>Forme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Formes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forme in formes %}
            <tr>
                <td>{{ forme.id }}</td>
                <td>{{ forme.Formes }}</td>
                <td>
                    <a href="{{ path('forme_show', {'id': forme.id}) }}">show</a>
                    <a href="{{ path('forme_edit', {'id': forme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('forme_new') }}">Create new</a>
{% endblock %}
